# Server
PORT=5001

# MongoDB - Railway Production URI
MONGODB_URI=mongodb://mongo:FDaHhHFYvQKRWtdzWSeKnFKWrARXamHe@shuttle.proxy.rlwy.net:16685/nomanoglu?authSource=admin

# JWT Secret
JWT_SECRET=8ed7817332a87d696eb479a04ce0849301a181bb6a3608463465029a15e02d6045ded06472ca9b77c518107a94e6ea43f7bc66ce15956dcdecfadb0e57826ff0

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Nomanoglu2024!

# HTTP API (Fiyat kaynağı)
PRICE_API_URL=http://37.148.208.13/api.php
POLL_INTERVAL=2000

# Webhook Secret
WEBHOOK_SECRET=nomanoglu_webhook_2024_gizli
